<html>
<head>
  <title>TodoMVC example</title>
</head>
<body>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section class="main">
      <input class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list"></ul>
    </section>
    <footer class="footer"></footer>
  </section>
  <footer class="info">
    <p>Written by <a href="https://github.com/somebody32">Ilya Zayats</a></p>
    <p>Not yet part of <a href="http://todomvc.com">TodoMVC</a></p>
    <p>With ❤️ from <a href="http://redbooth.com">Redbooth</a></p>
  </footer>
  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="<%- title %>">
  </script>
  <script type="text/template" id="stats-template">
    <span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <% if (completed) { %>
    <button class="clear-completed">Clear completed</button>
    <% } %>
  </script>
  <script src="/static/bundle.js"></script>
</body>
</html>
